@page "/"
@page "/home"

@layout EmployeeLayout
@attribute [Authorize(Roles = "admin,hr")]

<h1>Welcome to Blazor</h1>
<br />
<br />
                
<h3>Table of Content</h3>
<ul class="spaced-out-li">
    <li>Application Overview</li>
    <li>Blazor Server Side vs Blazor Web Assembly (Client Side)</li>
    <li>Dependency Injection</li>
    <li>Form</li>
    <li>Communication between Parent and Child Components, among Siblings</li>
    <li>Routing and Route Guard / AuthenticationStateProvider</li>
    <li>Service, App Service</li>
    <li>JavaScript (IJSRuntime) </li>
    <li>Authentication and Authorization</li>
    <li>Roles and Menu Items</li>
    <li>Razor Class Library</li>
    <li>Assets (Bootstrap, JS, Icons, Font Awesome and Images)</li>
    <li>Configurations</li>
    <li>Exception Handling</li>
    <li>Logging</li>
    <li>Public page</li>
    <li>Deployment to IIS</li>
    <li>Middleware</li>
    <li>Testing</li>
</ul>



@code{


}