@page "/authentication-test"

<h3>Authentication Example</h3>
<br />
<br/>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Claim Type</th>
            <th>Claim Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in claims)
        {
            <tr>
                <td>@claim.Type </td>
                <td>@claim.Value</td>
            </tr>
        }
    </tbody>
</table>



@code {

}
