@page "/logout"

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <h3>Logout User</h3>

            <button class="btn btn-primary" @onclick="logout">Logout</button>
        </Authorized>
        <NotAuthorized>
            <LoginUser></LoginUser>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>



@code {

}
