<div style="border:2px double brown; height:175px; width:600px;" class="p-3">
    <h3>Grand Child</h3>
    <button class="btn btn-primary" @onclick="setTime">6 - App State Service: Set Date & Time</button>
    <span>@appStateService.Time</span>
    <br />
    <input class="form-control" @bind-value="cascadingAppState.Message" @bind-value:event="oninput" placeholder="7 - CascadingAppState: Enter value here" />
</div>

@code {

}
