@page "/parent-two"
@layout EmployeeLayout
@attribute [Authorize(Roles = "admin")]

<h3>Parent Two</h3>
<br />
<br />
<button class="btn btn-primary" @onclick="setTime">Set Time</button>
<div>Date & Time: @appStateService.Time</div>
<br />
<br />
<div>Path Parameter "/parent-one/5"</div>
<a class="btn btn-primary" href="/parent-one/5">Go to Parent One with id "5"</a>
<br />
<br />
<div>Query Parameter "/parent-one?name=Jack"</div>
<a class="btn btn-primary" href="/parent-one?name=Jack">Go to Parent One with name "Jack"</a>


@code {

}
