@page "/parent-one"
@page "/parent-one/{id}"

@layout EmployeeLayout
@attribute [Authorize(Roles = "admin")]

<h3>State Management Example / Communication</h3>

<div style="border:1px solid black; height:800px; width:800px;" class="p-3">
    <h3>Parent One</h3>

    <button class="btn btn-primary" @onclick="setTime">Set Time</button>
    <div>Date & Time: @appStateService.Time</div>
    <br />
    @if (Id != null)
    {
        <div>Example of path parameter:</div>
        <div>Id is @Id.</div>
    }
    @if (name != null)
    {
        <div>Example of query parameter:</div>
        <div>Name is @name</div>
    }
    <br />
    <ChildOne Name="@parentToChild"/>
    <br />
    <br />
    <ChildTwo />
</div>


@code {

}
