@page "/time-one"
@layout EmployeeLayout
@attribute [Authorize]


<h3>Singleton vs Scoped vs Transient Service</h3>
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><button class="btn btn-primary" @onclick="createSingletonTime">Create Time(Singleton)</button></td>
            <td>@singletonTime</td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" @onclick="createScopedTime">Create Time(Scoped)</button></td>
            <td>@scopedTime</td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" @onclick="createTransientTime">Create Time(Transient)</button></td>
            <td>@transientTime</td>
        </tr>
    </tbody>
</table>


<h5>Analysis</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Action</th>
            <th>Environment</th>
            <th>Result</th>
            <th>Environment</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Navigate to Time One</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 07:08:13.6505046 - new object <br />
                Scoped:    07:08:13.6509394 - new object <br />
                Transient: 07:08:13.6512970 - new object
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                Singleton: 07:23:08.7180000 - new object <br />
                Scoped:    07:23:08.8140000 - new object <br />
                Transient: 07:23:08.8170000 - new object
            </td>
        </tr>
        <tr>
            <td>Click On Singleton Button</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 07:08:13.6505046 - same object/singleton <br />
                Scoped:    07:08:13.6509394 - same object/singleton <br />
                Transient: 07:08:13.6512970 - same object/singleton
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                Singleton: 07:23:08.7180000 - same object/singleton <br />
                Scoped:    07:23:08.8140000 - same object/singleton <br />
                Transient: 07:23:08.8170000 - same object/singleton
            </td>
        </tr>
        <tr>
            <td>Click On Scoped Button</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 07:08:13.6505046 - same object/singleton <br />
                Scoped:    07:08:13.6509394 - same object/singleton <br />
                Transient: 07:08:13.6512970 - same object/singleton
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                Singleton: 07:23:08.7180000 - same object/singleton <br />
                Scoped:    07:23:08.8140000 - same object/singleton <br />
                Transient: 07:23:08.8170000 - same object/singleton
            </td>
        </tr>
        <tr>
            <td>Click On Transient Button</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 07:08:13.6505046 - same object/singleton <br />
                Scoped:    07:08:13.6509394 - same object/singleton <br />
                Transient: 07:08:13.6512970 - same object/singleton
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                Singleton: 07:23:08.7180000 - same object/singleton <br />
                Scoped:    07:23:08.8140000 - same object/singleton <br />
                Transient: 07:23:08.8170000 - same object/singleton
            </td>
        </tr>
        <tr>
            <td>Refresh Browser</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 07:08:13.6505046 - same object/singleton <br />
                <span style="color: red">Scoped: 07:10:13.8343978 - new object</span><br />
                <span style="color:red">Transient: 07:10:13.8344646 - new object</span>
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                <span style="color: red">Singleton: 07:25:07.1700000 - new object<br /></span>
                <span style="color: red">Scoped: 07:25:07.2160000 - new object</span><br />
                <span style="color:red">Transient: 07:25:07.2170000 - new object</span>
            </td>
        </tr>
        <tr>
            <td>Duplicate Tab</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 07:08:13.6505046 - same object/singleton<br />
                <span style="color: cyan">Scoped: 07:11:49.7334996 - new object </span><br />
                <span style="color:cyan">Transient: 07:11:49.7337962 - new object </span>
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                <span style="color: cyan">Singleton: 07:26:51.8750000 - new object<br /></span>
                <span style="color: cyan">Scoped: 07:26:51.9270000 - new object </span><br />
                <span style="color:cyan">Transient: 07:26:51.9290000 - new object </span>
            </td>
        </tr>
        <tr>
            <td>Navigate to Time Two</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 07:08:13.6505046 - same object/singleton<br />
                <span style="color: cyan">Scoped: 07:11:49.7334996 - same object/singleton</span><br />
                <span style="color:blue">Transient: 07:13:05.6006513 - new object</span>
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                <span style="color: cyan">Singleton: 07:26:51.8750000 - same object/singleton </span><br />
                <span style="color: cyan">Scoped: 07:26:51.9270000 - same object/singleton</span><br />
                <span style="color:blue">Transient: 07:28:35.5090000 - new object</span>
            </td>
        </tr>
    </tbody>
</table>



@code {


}
