@page "/time-one"
@layout EmployeeLayout
@attribute [Authorize]


<h3>Singleton vs Scoped vs Transient Service (Time Service - Page One</h3>
Dependency Injection(DI) is a tehcnique for accessing services configured in a central location. If a dependency object is created inside a dependent object instead of being injected, the code will
be difficult to unit test, as you cannot mock or stub the dependency. For a dependency created within a dependent object, a different implementation of depedency will modify the dependent, but if injected
the dependent may not have to be modified.
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><button class="btn btn-primary" @onclick="createSingletonTime">Create Time(Singleton)</button></td>
            <td>@singletonTime</td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" @onclick="createScopedTime">Create Time(Scoped)</button></td>
            <td>@scopedTime</td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" @onclick="createTransientTime">Create Time(Transient)</button></td>
            <td>@transientTime</td>
        </tr>
    </tbody>
</table>
<br />
<h5>Summery</h5>
<br />
<ul>
    <li>Blazor Server apps: scoped services, singletons and transient services all behave differently.</li>
    <li>Blazor Web Assembly apps: scoped services behave the same way as singletons, but transient services behave differently. Check <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/dependency-injection?view=aspnetcore-5.0&pivots=webassembly#service-lifetime" target="_blank">Blazor DI</a>.</li>
    <li>An HttpClient is registered as a scoped service, not singleton. Check <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/dependency-injection?view=aspnetcore-5.0&pivots=webassembly#default-services" target="_blank">Blazor DI</a>.</li>
    <li>IJSRuntime and Navigation Manager are singletons in a Web Assembly app and scoped in a Blazor Server app. Check <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/dependency-injection?view=aspnetcore-5.0&pivots=webassembly#default-services" target="_blank">Blazor DI</a>.</li>
    <li>AddHttpClient is a scoped service. Check <a href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests" target="_blank">HttClient</a>.</li>
    <li>A singleton cannot consume a scoped service in a Blazor Web Assembly app.</li>
</ul>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Service Type</th>
            <th>Hosting Model</th>
            <th>Description</th>
            <th>Hosting Model</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Singleton</td>
            <td>Blazor Server</td>
            <td>
                same object: page load, button click within the page, another page, page reload, duplicate page
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                same object: page load, button click within the page, another page <br />
                new object: page reload, duplicate page.
            </td>
        </tr>
        <tr>
            <td>Scoped</td>
            <td>Blazor Server</td>
            <td>
                same object: page load, button click within the page, another page <br />
                new object: page reload, duplicate page
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                same object: page load, button click within the page, another page <br />
                new object: page reload, duplicate page.
            </td>
        </tr>
        <tr>
            <td>Transient</td>
            <td>Blazor Server</td>
            <td>
                same object: page load, button click within the page <br />
                new object: another page, page reload, duplicate page
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                same object: page load, button click within the page <br />
                new object: another page, page reload, duplicate page
            </td>
        </tr>
    </tbody>
</table>
<br />
<h5>Analysis</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Service Type</th>
            <th>Action</th>
            <th>Hosting Model</th>
            <th>Time</th>
            <th>Comment</th>
            <th>Hosting Model</th>
            <th>Time</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Singleton <br />
                Scoped <br />
                Transient
            </td>
            <td>Navigate to Time One</td>
            <td>Blazor Server</td>
            <td>
                07:08:13.6505046 <br />
                07:08:13.6509394 <br />
                07:08:13.6512970
            </td>
            <td>
                new object <br />
                new object <br />
                new object
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                07:23:08.7180000 <br />
                07:23:08.8140000 <br />
                07:23:08.8170000
            </td>
            <td>
                new object <br />
                new object <br />
                new object
            </td>
        </tr>
        <tr>
            <td>
                Singleton <br />
                Scoped <br />
                Transient
            </td>
            <td>Click on Button</td>
            <td>Blazor Server</td>
            <td>
                07:08:13.6505046 <br />
                07:08:13.6509394 <br />
                07:08:13.6512970
            </td>
            <td>
                same object/singleton <br />
                same object/singleton <br />
                same object/singleton
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                07:23:08.7180000 <br />
                07:23:08.8140000 <br />
                07:23:08.8170000
            </td>
            <td>
                same object/singleton <br />
                same object/singleton <br />
                same object/singleton
            </td>
        </tr>
        <tr>
            <td>
                Singleton <br />
                Scoped <br />
                Transient
            </td>
            <td>Navigate to Time Two</td>
            <td>Blazor Server</td>
            <td>
                07:08:13.6505046 <br />
                07:08:13.6509394 <br />
                <span style="color:blue">07:13:05.6006513</span>
            </td>
            <td>
                same object/singleton <br />
                same object/singleton <br />
                <span style="color: blue">new object</span>
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                07:23:08.7180000 <br />
                07:23:08.8140000 <br />
                <span style="color:blue">07:28:35.5090000</span>
            </td>
            <td>
                same object/singleton <br />
                same object/singleton <br />
                <span style="color: blue">new object</span>
            </td>
        </tr>
        <tr>
            <td>
                Singleton <br />
                Scoped <br />
                Transient
            </td>
            <td>Reload Browser</td>
            <td>Blazor Server</td>
            <td>
                07:08:13.6505046 <br />
                <span style="color:red">07:10:13.8343978</span> <br />
                <span style="color:red">07:10:13.8344646</span>
            </td>
            <td>
                same object/singleton <br />
                <span style="color: red">new object</span> <br />
                <span style="color: red">new object</span>
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                <span style="color:red">07:25:07.1700000</span> <br />
                <span style="color:red">07:25:07.2160000</span> <br />
                <span style="color:red">07:25:07.2170000</span>
            </td>
            <td>
                <span style="color: red">new object</span> <br />
                <span style="color: red">new object</span> <br />
                <span style="color: red">new object</span>
            </td>
        </tr>
        <tr>
            <td>
                Singleton <br />
                Scoped <br />
                Transient
            </td>
            <td>Duplicate Tab</td>
            <td>Blazor Server</td>
            <td>
                07:08:13.6505046 <br />
                <span style="color:cyan">07:11:49.7334996</span> <br />
                <span style="color:cyan">07:11:49.7337962</span>
            </td>
            <td>
                same object/singleton <br />
                <span style="color: cyan">new object</span> <br />
                <span style="color: cyan">new object</span>
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                <span style="color:cyan">07:26:51.8750000</span> <br />
                <span style="color:cyan">07:26:51.9270000</span> <br />
                <span style="color:cyan">07:26:51.9290000</span>
            </td>
            <td>
                <span style="color: cyan">new object</span> <br />
                <span style="color: cyan">new object</span> <br />
                <span style="color: cyan">new object</span>
            </td>
        </tr>
    </tbody>
</table>



@code {


}
