@page "/time-two"
@layout EmployeeLayout
@attribute [Authorize]


<h3>Singleton vs Scoped vs Transient Service</h3>
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><button class="btn btn-primary" @onclick="createSingletonGuid">Create Time(Singleton)</button></td>
            <td>@singletonTime</td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" @onclick="createScopedTime">Create Time(Scoped)</button></td>
            <td>@scopedTime</td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" @onclick="createTransientGuid">Create Time(Transient)</button></td>
            <td>@transientTime</td>
        </tr>
    </tbody>
</table>

<h5>Analysis</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Action</th>
            <th>Environment</th>
            <th>Result</th>
            <th>Environment</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Navigate to Guid One</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 30d5da72-bc9b-4c2e-bfe5-3c5882df1bc4 - new object <br />
                Scoped:    b6e51b92-ad29-4442-9141-1c367b1e8835 - new object <br />
                Transient: 17375090-a821-490f-a967-d40b0dbeff31 - new object
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                Singleton: cf6a5584-b503-4821-bbfd-ea720819020a - new object <br />
                Scoped:    509315cc-e9c9-4755-aada-7d0cd33f7309 - new object <br />
                Transient: 6ea558d8-8c54-4b1e-b30d-8ba6180770db - new object
            </td>
        </tr>
        <tr>
            <td>Click On Singleton Button</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 30d5da72-bc9b-4c2e-bfe5-3c5882df1bc4 - same object/singleton <br />
                Scoped:    b6e51b92-ad29-4442-9141-1c367b1e8835 - same object/singleton <br />
                Transient: 17375090-a821-490f-a967-d40b0dbeff31 - same object/singleton
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                Singleton: cf6a5584-b503-4821-bbfd-ea720819020a - same object/singleton <br />
                Scoped:    509315cc-e9c9-4755-aada-7d0cd33f7309 - same object/singleton <br />
                Transient: 6ea558d8-8c54-4b1e-b30d-8ba6180770db - same object/singleton
            </td>
        </tr>
        <tr>
            <td>Click On Scoped Button</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 30d5da72-bc9b-4c2e-bfe5-3c5882df1bc4 - same object/singleton <br />
                Scoped:    b6e51b92-ad29-4442-9141-1c367b1e8835 - same object/singleton <br />
                Transient: 17375090-a821-490f-a967-d40b0dbeff31 - same object/singleton
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                Singleton: cf6a5584-b503-4821-bbfd-ea720819020a - same object/singleton <br />
                Scoped:    509315cc-e9c9-4755-aada-7d0cd33f7309 - same object/singleton <br />
                Transient: 6ea558d8-8c54-4b1e-b30d-8ba6180770db - same object/singleton
            </td>
        </tr>
        <tr>
            <td>Click On Transient Button</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 30d5da72-bc9b-4c2e-bfe5-3c5882df1bc4 - same object/singleton <br />
                Scoped:    b6e51b92-ad29-4442-9141-1c367b1e8835 - same object/singleton <br />
                Transient: 17375090-a821-490f-a967-d40b0dbeff31 - same object/singleton
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                Singleton: cf6a5584-b503-4821-bbfd-ea720819020a - same object/singleton <br />
                Scoped:    509315cc-e9c9-4755-aada-7d0cd33f7309 - same object/singleton <br />
                Transient: 6ea558d8-8c54-4b1e-b30d-8ba6180770db - same object/singleton
            </td>
        </tr>
        <tr>
            <td>Refresh Browser</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 30d5da72-bc9b-4c2e-bfe5-3c5882df1bc4 - same object/singleton <br />
                <span style="color: red">Scoped: a38d27ac-7303-4295-a8b1-fa8963c6078b - new object</span><br />
                <span style="color:red">Transient: 29f5ceb7-b558-4137-b87c-1cbf32b19c85 - new object</span>
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                <span style="color: red">Singleton: ab175537-04d2-4969-9da6-bcd31506d5ae - new object<br /></span>
                <span style="color: red">Scoped: 84b3a91e-f55b-4798-a34f-b3ca574c6912 - new object</span><br />
                <span style="color:red">Transient: 302430e8-8ff0-4549-85e5-62a4604b3746 - new object</span>
            </td>
        </tr>
        <tr>
            <td>Duplicate Tab</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 30d5da72-bc9b-4c2e-bfe5-3c5882df1bc4 - same object/singleton<br />
                <span style="color: cyan">Scoped: c643e60f-c2f7-4c04-bc1f-862b392286e1 - new object </span><br />
                <span style="color:cyan">Transient: d78e9211-0065-4ed3-974a-199421e088ce - new object </span>
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                <span style="color: cyan">Singleton: 2ee95245-a803-4342-947a-2a629a2dc02e - new object<br /></span>
                <span style="color: cyan">Scoped: 3ea2c677-4ae3-4123-9d10-2b51c21774c5 - new object </span><br />
                <span style="color:cyan">Transient: 568374be-8d60-445d-b675-d044a4404cbc - new object </span>
            </td>
        </tr>
        <tr>
            <td>Navigate to Guid Two</td>
            <td>Blazor Server</td>
            <td>
                Singleton: 30d5da72-bc9b-4c2e-bfe5-3c5882df1bc4 - same object/singleton<br />
                <span style="color: cyan">Scoped: c643e60f-c2f7-4c04-bc1f-862b392286e1 - same object/singleton</span><br />
                <span style="color:blue">Transient: d6e1332b-210a-4a77-859d-f296f3d59ab8 - new object</span>
            </td>
            <td>Blazor Web Assembly</td>
            <td>
                <span style="color: cyan">Singleton: 2ee95245-a803-4342-947a-2a629a2dc02e - same object/singleton </span><br />
                <span style="color: cyan">Scoped: 3ea2c677-4ae3-4123-9d10-2b51c21774c5 - same object/singleton</span><br />
                <span style="color:blue">Transient: 570ccd47-e152-4966-9a82-861e87f37fa5 - new object</span>
            </td>
        </tr>
    </tbody>
</table>




@code {


}
