@page "/time-two"
@layout EmployeeLayout
@attribute [Authorize]


<h3>Singleton vs Scoped vs Transient Service (Time Service - Page Two)</h3>
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><button class="btn btn-primary" @onclick="createSingletonTime">Create Time(Singleton)</button></td>
            <td>@singletonTime</td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" @onclick="createScopedTime">Create Time(Scoped)</button></td>
            <td>@scopedTime</td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" @onclick="createTransientTime">Create Time(Transient)</button></td>
            <td>@transientTime</td>
        </tr>
    </tbody>
</table>



@code {


}
