@page "/js-example"

<h3>JavaScript Example (JsInterop)</h3>

<button class="btn btn-primary" @onclick="() => ShowAlert()">Show Alert</button>
<br />
<br />
<label>Question: </label>
<input @ref="QuestionInput" @bind="Question"/>
<button @onclick="() => AskQuestion()">Answer Here!</button>
<br />
<span>Answer: @Answer</span>
<br />
<button @onclick="() => FocusOnInputQuestion()">Focus on Question Input</button>
@code {

}
