@page "/js-example"
@layout EmployeeLayout
@attribute [Authorize]


<h3>JavaScript Example (JsInterop)</h3>

<button class="btn btn-primary" @onclick="() => showAlert()">Show Alert</button>
<br />
<br />
<label>Question: </label>
<input @ref="questionInput" @bind="question" />
<button class="btn btn-primary" @onclick="() => askQuestion()">Answer Here!</button>
<br />
<span>Answer: @answer</span>
<br />
<button class="btn btn-primary" @onclick="() => focusOnInputQuestion()">Focus on Question Input</button>
<br />
<br />
<button class="btn btn-primary" @onclick="() => setEmployeeToSessionStorage()">Set empoyee to Session Storage </button>
<br />
<br />
<button class="btn btn-primary" @onclick="() => getEmployeeFromSessionStorage()">Get employee from Session Storage </button>
<br />
<br />
<button class="btn btn-primary" @onclick="() => getRefreshTokenFromSessionStorage()">Get refresh_token from Session Storage </button>
<br />
Refresh Token: @refreshToken
<br />
<button class="btn btn-primary" @onclick="() => showPrompt()">Shwow Prompt</button>


@code {

}
