@page "/handbook"
@layout MasterLayout

@attribute [AllowAnonymous]

    <div class="handbook">
        <div>
            <h4>Employee Handbook</h4>
        </div>
        <div>
            <a href="/">Login</a>
        </div>
        <br />
        <div>The following describes the Intel's employee handbook.</div>
        <div>
            <ul>
                <li>
                    <strong>Code of Conduct:</strong> Intel respect each other. We are committed to being open and honest.
                    We strive to build a culture of belonging.
                </li>
                <li>
                    <strong>Communications Policy:</strong> You are not allowed to use tools and websites not approved by Intel. Our website will
                    be the main source of information to the general public. You are not allowed to talk to the press about matters
                    related to the company without the company's permission.
                </li>
                <li>
                    <strong>Nondiscrimination policy:</strong> We do not discriminate on the basis of the following:
                    Age, Race/color, Religion, Pregnancy, Disability
                </li>
                <li>
                    <strong>Compensation and benefits policy:</strong> You will be paid once every two weeks and you will be insured for health with a choice of three different policies.
                    Your vacation days are 20 and we observe Federal Government's holidays. You will have 10 sick days.
                </li>
            </ul>
        </div>

    </div>

    @code {

    }
