@page "/icon-example"
@layout EmployeeLayout

<h3>Icon Example</h3>

https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css will download bootstrap and there is open-iconic folder containing open-iconic-bootstrap.min.css. The downloaded
bootstrap.min.css will reference all the files inside open-iconic folder.
<br />
<br />
<div> Check the following website for icons. <a href="https://useiconic.com/open#icons" target="_blank">useiconic.com</a> Check navigation menu items. They use icons from "open iconic"
    like below.
 </div>
<br />
<br />
<div style="font-size:40px" class="oi oi-bell"></div>


@code {

}
