@page "/icon-example"
@layout EmployeeLayout

    <h3>Bootstrap</h3>
    The following in the Head section of Index.html/_Host.html will write stackpath cdn code to bring in bootstrap.css
    &lt;script src="_content/Intel.EmployeeManagement.RazorClassLibrary/css/bootstrap/bootstrapCss.js">&lt;/script>
    <br />
    <br />

    <h3>Icon</h3>
    Check the following website for icons. <a href="https://useiconic.com/open/" target="_blank">useiconic.com/open/</a>. Click on Download v1.1.0 to
    download open-iconic-master.zip file. Add open-iconic/font/css/open-iconic-bootstrap.min.css and open-iconic/font/fonts/open-iconic.eot, open-iconic.otf,
    open-iconic.svg, open-iconic.ttf, open-iconic.woff to your project. The following code is used in app.css to bring in
    open-iconic-bootstrap.min.css: @@import url('open-iconic/font/css/open-iconic-bootstrap.min.css'); Check navigation menu items in this application.
    They use icons from "open iconic" like below.
    <br />
    <br />
    <div style="font-size:40px" class="oi oi-bell"></div>
    <br />
    <br />

    <h3>Font Awesome</h3>
    Download Font Awesome from <a href="https://fontawesome.com/v5.15/how-to-use/on-the-web/setup/hosting-font-awesome-yourself" target="_blank">Font Awesome</a>. Create a font-awesome
    folder inside css folder and copy all.css to it. Copy webfonts with all of its content and paste it inside the css folder and add it to the project. Reference font awesome in the
    head section like below.
    <br />
    <br />
    &lt;link href="_content/Intel.EmployeeManagement.RazorClassLibrary/css/font-awesome/all.css" rel="stylesheet" />
    <br />
    <br />
    Use font-awesome like below:
    <br />
    <br />
    <i class="fas fa-user"></i>



    @code {


    }
