@page "/parent-two"
@layout EmployeeLayout
@attribute [Authorize(Roles = "admin")]

<h3>State Management / Communication Between Components</h3>

<h3>Parent Two</h3>
<br />
<a class="btn btn-primary" href="/parent-one/5">4 - Path Parameter "/parent-one/5": Go to Parent One</a>
<br />
<br />
<a class="btn btn-primary" href="/parent-one?name=Jack">5 - Query Parameter "/parent-one?name=Jack": Go to Parent One</a>
<br />
<br />
<button class="btn btn-primary" @onclick="setTime">6 - App State Service: Set Date & Time</button>
<span>@appStateService.Time</span>
<br />
<br />
<input class="form-control" @bind-value="cascadingAppState.Message" @bind-value:event="oninput" placeholder="7 - CascadingAppState: Enter value here" />


@code {

}
