<div hidden="@IsHidden">
    <div class="alert @AlertColor alert-dismissible fade show" role="alert">
        <strong>@Message</strong>
        <button type="button" class="close" aria-label="Close" @onclick="closeMessage">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>



@code {


}
