@inherits LayoutComponentBase
@layout MasterLayout



<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @emailAddress &nbsp; <button class="btn btn-light" @onclick="logout">Logout</button>
    </div>


    <div class="content px-4">
        @Body
    </div>
</div>
