@page "/login"

@*This is optional. If you don't mention any layout here, this page will be automatically displayed at the "@Body" of the MasterLayout, the one mentioned at the App.razor *@
@layout MasterLayout

@*The following is optional. This page is accessible without authorization without the following attribute as well.*@
@attribute [AllowAnonymous]

<div style="position: absolute; left: 50px; top: 50px">
    <img src="_content/Intel.EmployeeManagement.RazorClassLibrary/images/intel_logo.png" />
</div>
<strong style="position:absolute; right:50px; top:50px">Created By Bikash Mishra</strong>
<div style="position: absolute; right: 50px; bottom: 50px">
    <img src="_content/Intel.EmployeeManagement.RazorClassLibrary/images/people.png" />
</div>

<div class="center border-lightgray border-radius-10">
    @if (isLoginInProgress)
    {
        <div class="center fa-3x">
            <i class="fas fa-spinner fa-pulse"></i>
        </div>
    }

    <EditForm Model="login" OnValidSubmit="loginUser">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <InputText type="email" @bind-Value="login.Username" class="form-control" id="inputEmail" aria-describedby="emailHelp" />
            <ValidationMessage For="() => login.Username" />
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <InputText type="password" @bind-Value="login.Password" class="form-control" id="inputPassword" />
            <ValidationMessage For="() => login.Password" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div style="color:red;">@error</div>
    </EditForm>
    <br />
    Employee handbook is available <a href="/handbook">here</a>.
</div>

@code {

}
